
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    --color1: #96B6B4 ;
    --color2: #c94444 ;
    --color3: #d5f1ea;
    --color4: #ffffff49;
    --color5: #52B0C5; 
    --color6: #d1b94d; 
    
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Press Start 2P', cursive;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-items: center;
    cursor: url('../assets/ditto.png');
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: calc(var(--footer-height));
}

.readme {
    background-color: var(--color4 );
    border-top: double 10px var(--color6);
    border-bottom: double 10px var(--color6);
    padding: 20px;
    margin: 0px;
}

section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 0px;


}

.catch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

hr
{
  width: 100%;
  height: 30px;
  padding: 20px;
  background-image:url('../assets/cute-poke-HR.png');
  background-repeat: repeat-x;
  border: 0;
} 

div {
    justify-content: center;
}

img {
    border-radius: 200px;
    padding:20px;
    margin: 5px;
    justify-content: center;
    width: 200px;
}


ul {
    list-style-image: url("../assets/pokeball.gif");
    list-style-type: square;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 10px 0px 0px 0px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img:hover {
    cursor: url('assets/ditto.png');
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border-color: ;
    border: 8px dotted rgba(255, 196, 0, 0.904);
  }

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    box-shadow: var(--shadow);
}

#catch-button {
    margin: 25px;
    border-radius: 15px;
    transition: all ease-in-out .1s;
}
#catch-button:hover {
    background-color: goldenrod;
    transform: scale(1.2);

}
